/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.cntr-footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
