/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  border-top: 1px solid #ccc;
}

.align-center {
  text-align: center;
  justify-content: center;
}